%% Set dir where external (downloaded) applications are put
{deps_dir, ["deps"]}.

%% External dependencies
{deps, [
        %% HTTP server
        {elli, ".*",
        {git, "git://github.com/knutin/elli.git", {branch, "master"}}},
        %% HTTP auth
        {locker, ".*",
        {git, "git://github.com/wooga/locker.git", {branch, "master"}}}
]}.


